spring:
  datasource:
    url: jdbc:mysql://localhost:3306/meclass?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    username: meclass
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.zy.meclass.entity

#自定义配置-路径
video:
  path: /home/storage/video